:root {
    font-family: 'Courier New', Courier, monospace
}

h1, h2 {
    color: DarkSlateGray;
}

table {
    width: 800px;
    table-layout: fixed;
    border-spacing: 0.4rem;
}

th, td {
    padding: 0.4rem;
}

th {
    width: 10rem;
    text-align: right;
    background-color: LemonChiffon;
}

#zeilen th {
    text-align: center;
}

#zeilen tr:nth-child(odd) {
    background: GhostWhite;
}

#auswahl {
    font-size: 1.4rem;
    list-style: none;
}

#auswahl li {
    padding-top: 2rem;
}

#footer {
    font-size: 0.6rem;
    color: gray;
    padding-top: 3rem;
    text-align: right;
}

.wertung {
    border-radius: 0.5rem;
	font-size: 0.85rem;
	padding: 0.4rem 0.8rem 0.3rem 0.8rem;
	vertical-align: super;
}

.lxgood {
    background-color: #ccebc5;
}

.lxmedium {
    background-color: #fdb462;
}

.lxwrong {
    background-color: #fb8072;
}
